{% extends 'base.html.twig' %}

{% block title %}H{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ pagetitle }}!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symfony/sf_project/sf_perso/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symfony/sf_project/sf_perso/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}